/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}



/* Form styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

input[type="file"] {
  margin-top: 1em;
}

button[type="submit"] {
  display: block;
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


