/* Reset styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles for header */
  header {
    background-color:#ffd54d;
    color: #fff;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  /* Styles for main section */
  main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
  
  figure {
    margin: 0;
  }
  
  /* img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
   */
  
   .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
